@charset "UTF-8";
/* CSS Document */



@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300,700);

/* ==========================================================================
   Global styles
   ========================================================================== */
h1, h2, h3, h4, h5, h6, p, .btn, .navbar-nav a, .form-control, .list-inline, small, #pricing, footer {
  font-family: 'Quicksand', sans-serif;
}

p, .lead {
	font-family: 'Quicksand', sans-serif;
}

footer {
	font-weight:500;
}

.h3-terms {
	font-size:24px !important;
	text-transform:uppercase !important;
}

.middle {
    width: 32%;
    margin: 40px auto;
}

.pricing-table {
  width: 90%;
}

/*------------------Utilities---------------------*/
a {
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: none;
  color: #231f20;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
footer {
  background: #F5F5F5;
  padding: 50px 0px 40px;
}

.list-inline.social a .fa-twitter {
	color:#34a2dd !important;
}

.list-inline.social a .fa-facebook {
	color:#2447bb !important;
}

h1 {
  font-size: 55px;
  line-height: 55px;
  letter-spacing: -1px;
  color: #ffffff;
  font-weight: 700;
}

h2 {
  font-size: 40px;
  line-height: 40px;
  etter-spacing: -0.5px;
  color: #ffffff;
  font-weight: 700;
}

h3 {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0px;
  color: #231f20;
  font-weight: 700;
}

.lead {
  font-size: 31px;
  color: #ffffff;
  text-transform:uppercase;
  font-family: 'Quicksand', sans-serif;
  font-weight:500;
}

p {
  font-size: 17px;
  line-height: 22px;
  color: #929496;
  font-weight: 400;
}

.underline {
	text-decoration:underline;
}

a.link-grey {
	text-decoration:underline;
	font-weight:400;
}

.strong-blue {
	color:#27cd8d;
	font-weight:700;
}

.strong-green {
	color:#c70008;
	font-weight:700;
}

.strong-green2 {
	color:#34a2dd;
	font-weight:700;
}

.red {
	color:#c70008;
}

.red-strong {
	color:#c70008;
	font-weight:700;
}

.blue {
	color:#34a2dd;
}

.blue-strong {
	color:#34a2dd;
	font-weight:700;
}



.cups300 {
	max-width:300px;
}

.form-note {
	font-size:14px;
}

/* ==========================================================================
   Nav Styles
   ========================================================================== */

.navbar {
    border: 0px solid rgba(0, 0, 0, 0);
    background: #34a2dd;
    margin: auto;
    min-height: 60px;
    padding: 5px 0 10px 0;
    position: fixed;
    top: -75px;
    transition: top 0.4s ease 0s;
}

.navbar-right {
	padding-top:10px;
}
.navbar-toggle {
	padding-top:14px;
}

.navbar img {
	max-height:50px;
	max-width:225px;
}

.navbar.open {
    top: 0;
}

.navbar-inverse .navbar-nav > li > a, .navbar-nav a {
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 1px;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #ffffff;
    opacity: 0.6;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 10px;
}



.navbar-inverse .navbar-collapse {
	border:none;
    border-color: none !important;
}


.navbar-inverse .navbar-toggle {
    border-color: transparent;
}

.logo img {
	margin-top: 10px;
}


.btn-twitter {
	width:95%; background:#34a2dd; padding:15px; border-radius:8px; color:#FFF;
	font-family: 'Quicksand', sans-serif;
	margin:0 auto;
	
}

.btn-facebook {
	width:95%; background:#2447bb; padding:15px; border-radius:8px; color:#FFF;
	font-family: 'Quicksand', sans-serif;
	margin:0 auto;
	
}

.btn-contact {
	width:95%; background:#27cd8d; padding:15px; border-radius:8px; color:#FFF;
	font-family: 'Quicksand', sans-serif;
	margin:0 auto;
	
}

.btn-twitter .fa, .btn-facebook .fa {
	margin-right:15px;
}


/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
.middle {
    width: 280px;
    margin: 40px auto;
}

.col-sm-3, .col-sm-4 {
	padding:10px 0;
}

}


.terms {
	min-height:400px;
}